body {
  margin: 0;
}
@media all and (max-width: 1600px) {
  html h1,
  span {
    font-size: 30px;
  }
  html h2 {
    font-size: 20px;
  }
  .content-secondary {
    scale: 1;
  }
  .content {
    scale: 1;
  }
}
@media all and (max-width: 1400px) {
  html h1,
  span {
    font-size: 25px;
  }
  html h2 {
    font-size: 15px;
  }
  .content-secondary {
    scale: 0.9;
  }
  .content {
    scale: 0.9;
  }
}
@media all and (max-width: 1200px) {
  html h1,
  span {
    font-size: 20px;
  }
  html h2 {
    font-size: 10px;
  }
  .content-secondary {
    scale: 0.8;
  }
  .content {
    scale: 0.8;
  }
  .main-conteiner {
    justify-content: center;
    gap: 10px;
    display: flex;
  }
}
.main-conteiner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 0 32px;
  width: 1344px;
  height: 789px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.content {
  position: relative;
  width: 442px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 100px;
}
.logo {
  background-color: #232323;
  scale: 0.45;
  width: auto;
  height: auto;
  margin-bottom: -48px;
  margin-top: 15px;
}
.content span h1 {
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 30px;
}
.content h2 {
  opacity: 0.5;
  font-size: 1.9rem;
  font-weight: normal;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 64px 35px 32px;
}
.form h2 {
  opacity: 0.4;
  font-size: 1.9rem;
  font-weight: normal;
  margin-bottom: 0;
}
.form h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 60px;
  font-weight: 900;
}
.form input {
  width: 100%;
  height: 100%;
  margin-bottom: 14px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #000000bf;
  border-radius: 24px;
  padding: 14px 104px 14px 24px;
  color: #000;
  font-size: 16px;
  transition: 0.3s ease;
}
.form input:focus {
  box-shadow: 0px 0px 4px #000000;
}
.form button {
  position: absolute;
  right: 80px;
  top: 161px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  margin: 0;
  border: none;
  color: #000;
  cursor: pointer;
}
.footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 130px;
}
.send h2 {
  font-size: 1.2rem;
  margin: 0 10px 30px 0;
}
.send input {
  width: 100%;
  height: 100%;
  border: 1px solid #000000bf;
  border-radius: 48px;
  padding: 14px 114px 14px 24px;
  box-sizing: border-box;
  background: none;
  outline: none;
  color: #000;
  font-size: 16px;
  box-shadow: none;
  transition: 0.3s ease;
  margin-top: -40px;
}
.send button {
  position: absolute;
  background: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  border: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease;
  right: 340px;
  top: 80px;
}
.information {
  position: relative;
  text-align: end;
}
.information span p {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: bold;
}
.information p {
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
