body {
  margin: 0;
  max-height: 100vh;
}
.main-conteiner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  padding-bottom: 0px;
  width: 72vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  position: relative;
  width: 470px;
  height: auto;
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  padding: 0 0 100px;
}
.logo {
  scale: 0.47;
  width: auto;
  height: auto;
  margin-bottom: -48px;
  margin-top: 15px;
}
.content span h1 {
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 30px;
}
.content h2 {
  opacity: 0.5;
  font-size: 1.9rem;
  font-weight: normal;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 64px 35px 32px;
}
.form h2 {
  opacity: 0.4;
  font-size: 1.9rem;
  font-weight: normal;
  margin-bottom: 0;
}
.form h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 60px;
  font-weight: 900;
}
.form input {
  width: 100%;
  height: 100%;
  margin-bottom: 14px;
  box-sizing: border-box;
  border: 1px solid #000000bf;
  border-radius: 24px;
  padding: 14px 104px 14px 24px;
  color: #000;
  font-size: 16px;
  transition: 0.3s ease;
}
.form input:focus {
  box-shadow: 0px 0px 4px #000000;
}
.form button {
  position: absolute;
  right: 80px;
  top: 161px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  margin: 0;
  border: none;
  color: #000;
  cursor: pointer;
}
.footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  padding-bottom: 0px;
  width: 65vw;
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 130px;
}
.send {
  width: 20vw;
  min-width: 383px;
}
.send h2 {
  font-size: 1.15rem;
  margin: 0 10px 30px 0;
}
.send input {
  width: 360px;
  height: 100%;
  border: 1px solid #000000bf;
  border-radius: 48px;
  padding: 14px 114px 14px 20px;
  box-sizing: border-box;
  background: none;
  outline: none;
  color: #000;
  font-size: 16px;
  box-shadow: none;
  transition: 0.3s ease;
  margin-top: -40px;
}
.send button {
  position: relative;
  background: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  border: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease;
  top: -41px;
  right: -280px;
}
.information {
  position: relative;
  width: auto;
  height: 4.5vh;
  text-align: end;
}
.information span p {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: bold;
}
.information p {
  margin-top: 0;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
sup {
  font-size: 0.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
@media all and (1500px < width <= 1600px) {
  .main-conteiner {
    min-width: 100vw;
    min-height: 80vh;
    padding: 0px;
    padding-top: 32px;
    justify-content: center;
    gap: 100px;
  }
  .content {
    width: 30vw;
  }
  .footer {
    min-width: 75vw;
    min-height: 10vh;
  }
}
@media all and (1000px < width <= 1500px) {
  .main-conteiner {
    min-width: 100vw;
    min-height: 80vh;
    padding: 0px;
    padding-top: 32px;
    justify-content: center;
    gap: 140px;
  }
  .content {
    min-width: 400px;
    scale: 0.85;
  }
  .form {
    width: 600px;
  }
  .form h2 {
    font-size: 1.5rem;
  }
  .form h1 {
    font-size: 2rem;
  }
  .form button {
    right: 80px;
    top: 145px;
  }
  .logo {
    scale: 0.43;
  }
  .footer {
    min-width: 90vw;
    min-height: 10vh;
  }
  .send {
    scale: 0.9;
  }
}
@media all and (360px < width <= 600px) {
  .main-conteiner {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .content {
    min-height: 40vh;
    min-width: 100vw;
    padding-bottom: 0px;
  }
  .content-text-box {
    max-width: 90vw;
  }
  .content-text-box h2 {
    font-size: 1.4rem;
    padding-top: 15px;
  }
  .content-text-box h1 {
    font-size: 1.4rem;
  }
  .content-text-box span h1 {
    font-size: 1.4rem;
  }
  .gallery {
    max-width: 100vw;
  }
  .content-secondary {
    width: 100vw;
  }
  .form {
    max-width: 100vw;
    min-height: 30vh;
    padding: 0px;
    scale: 0.8;
  }
  .form h2 {
    font-size: 1.7rem;
  }
  .form h1 {
    font-size: 1.7rem;
  }
  .form button {
    font-size: 1.1rem;
    right: 20px;
    top: 148px;
  }
  .logo {
    max-width: 100vw;
    padding-bottom: 60px;
  }
  .send {
    display: none;
  }
  .information {
    text-align: center;
  }
  .footer {
    width: 100vw;
    height: 5vh;
    padding: 0px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: flex-end;
  }
}
@media all and (width <= 360px) {
  .main-conteiner {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .content {
    min-height: 40vh;
    min-width: 100vw;
    padding-bottom: 0px;
  }
  .content-text-box {
    max-width: 90vw;
  }
  .content-text-box h2 {
    font-size: 1.4rem;
    padding-top: 15px;
  }
  .content-text-box h1 {
    font-size: 1.4rem;
  }
  .content-text-box span h1 {
    font-size: 1.4rem;
  }
  .gallery {
    max-width: 100vw;
    max-height: 30vh;
  }
  .content-secondary {
    width: 100vw;
    position: relative;
  }
  .form {
    max-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    padding-top: 15px;
    scale: 0.8;
  }
  .form h2 {
    font-size: 1.7rem;
  }
  .form h1 {
    font-size: 1.7rem;
  }
  .form button {
    font-size: 1.05rem;
    right: 20px;
    top: 223px;
  }
  .logo {
    max-width: 100vw;
    padding-bottom: 60px;
  }
  .send {
    display: none;
  }
  .information {
    text-align: center;
  }
  .footer {
    width: 100vw;
    height: 20vh;
    padding: 0px;
    justify-content: center;
    align-items: flex-end;
  }
}
